article {
  h1 {
    font-size: theme("fontSize.4xl");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      font-size: theme("fontSize.5xl");
      margin-bottom: theme("spacing[8]");
    }
  }
  h2 {
    font-size: theme("fontSize.3xl");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      font-size: theme("fontSize.4xl");
      margin-bottom: theme("spacing[8]");
    }
  }
  h3 {
    font-size: theme("fontSize.2xl");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      font-size: theme("fontSize.3xl");
      margin-bottom: theme("spacing[8]");
    }
  }
  h4 {
    font-size: theme("fontSize.base");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      font-size: theme("fontSize.2xl");
      margin-bottom: theme("spacing[8]");
    }
  }
  h5 {
    font-size: theme("fontSize.base");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      margin-bottom: theme("spacing[8]");
    }
  }
  h6 {
    font-size: theme("fontSize.sm");
    margin-bottom: theme("spacing[6]");
    @media screen and (min-width: theme("screens.lg")) {
      margin-bottom: theme("spacing[8]");
    }
  }
  hr {
    border-color: theme("colors.black");
    margin: theme("spacing[8]") 0;
    opacity: 0.1;
    @media screen and (min-width: theme("screens.lg")) {
      margin: theme("spacing[8]") 0;
    }
  }
  p {
    margin-bottom: 1em;
  }
  strong {
    @apply font-bold;
  }
  ul,
  ol {
    list-style: disc;
    padding-left: theme("spacing.8");
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }
  ol {
    // list-style: upper-roman;
    list-style: decimal;
  }
  a {
    color: theme("colors.blue.DEFAULT");
    &:hover {
      text-decoration: underline;
    }
  }
  video,
  embed,
  iframe {
    width: 100%;
    min-height: theme("height.52");
  }
  h1,
  h2,
  h3 {
    br {
      @media screen and (max-width: theme("screens.sm")) {
        display: none;
      }
    }
  }

  blockquote {
    @apply pl-6 border-l;
  }

  .component-preview {
    padding: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-image: url("/grid_dot.svg");
    background-repeat: repeat;
    background-size: 1.5rem;
    border-radius: 0.33rem;
    border: 1px solid theme("colors.dark");
    margin: 0.5rem;
    resize: both;
  }

  .astro-code {
    padding: 1rem;
    border-radius: 0.44rem;
    margin-bottom: 0.5em;
  }

  table {
    @apply block bg-white shadow-sm border border-gray-200 rounded-lg w-full overflow-x-auto border-separate;
    border-spacing: 0;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;
  }
  
  .dark table {
    @apply bg-slate-900 shadow-none border-gray-700;
  }

  table thead th,
  table tbody td,
  table tfoot td {
    @apply w-full text-slate-900 text-sm text-left align-top leading-5 whitespace-nowrap;
    padding: 0.75rem 1rem; /* py-3 px-4 */
  }
  .dark table thead th,
  .dark table tbody td,
  .dark table tfoot td {
    @apply text-gray-200;
  }

  table :is(th, td):first-child {
    @apply pl-6;
  }
  table :is(th, td):last-child {
    @apply pr-6;
  }

  table thead th {
    @apply bg-gray-50 border-gray-200 border-b font-semibold text-gray-500 uppercase tracking-wider;
  }
  .dark table thead th {
    @apply bg-slate-800 border-gray-700 text-gray-400;
  }

  table tbody td {
    @apply border-gray-200 border-t;
  }
  .dark table tbody td {
    @apply border-gray-700;
  }

  table tbody tr:nth-child(even) td {
    @apply bg-gray-50;
  }
  .dark table tbody tr:nth-child(even) td {
    @apply bg-slate-900;
  }

  table tbody tr:hover td {
    @apply bg-gray-100;
  }
  .dark table tbody tr:hover td {
    @apply bg-slate-800;
  }

  table :is(th, td)[align="right"] {
    @apply text-right;
  }
  table :is(th, td)[align="center"] {
    @apply text-center;
  }

  table caption {
    caption-side: bottom;
    @apply px-4 py-3 text-gray-500 text-xs text-left leading-4;
  }
  .dark table caption {
    @apply text-gray-400;
  }

  .dark table :is(th, td) code {
    @apply bg-slate-700;
  }

  table thead th:first-child {
    @apply rounded-tl-lg;
  }
  table thead th:last-child {
    @apply rounded-tr-lg;
  }
}
