@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Black.woff') format('woff2'),
        url('../fonts/Daikon-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-ExtraLight.woff2') format('woff2'),
        url('../fonts/Daikon-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-BoldItalic.woff2') format('woff2'),
        url('../fonts/Daikon-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-LightItalic.woff2') format('woff2'),
        url('../fonts/Daikon-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-MediumItalic.woff2') format('woff2'),
        url('../fonts/Daikon-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Daikon-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Thin.woff2') format('woff2'),
        url('../fonts/Daikon-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-ThinItalic.woff2') format('woff2'),
        url('../fonts/Daikon-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Light.woff2') format('woff2'),
        url('../fonts/Daikon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Bold.woff2') format('woff2'),
        url('../fonts/Daikon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-BlackItalic.woff2') format('woff2'),
        url('../fonts/Daikon-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Daikon-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Medium.woff2') format('woff2'),
        url('../fonts/Daikon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Regular.woff2') format('woff2'),
        url('../fonts/Daikon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-Italic.woff2') format('woff2'),
        url('../fonts/Daikon-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Daikon';
    src: url('../fonts/Daikon-SemiBold.woff2') format('woff2'),
        url('../fonts/Daikon-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

