---
// import { Image } from 'astro:assets';
import SocialsButtons from '@components/SocialsButtons.astro';
import { SITE_TITLE, AUTHOR } from '../constants';

type SocialItem = {
  icon: string;
  label: string;
  href: string;
};

interface Footer {
  links: SocialItem[];
}

import config from '../content/site-config.json';
const today = new Date();
const footer = config.footer as Footer;
---
---

<footer id="page_footer" class="bottom-0 z-0 fixed bg-black w-full">
	<div class="md:text-left text-center container">
    <div class="flex md:flex-row flex-col md:justify-between space-y-8 md:space-y-0 mx-auto md:mx-0">
      <a class="mx-auto md:mx-0 w-40 font-heading brand" href={Astro.url.origin}>
        <span class="text-white uppercase tracking-widest">{ SITE_TITLE }</span>
      </a>
      <SocialsButtons class="mx-auto md:mx-0" />
      <ul class="hidden mt-8 font-medium">
        {footer.links && footer.links.map((item) => (
          <li class="group">
            <a class="inline-flex bg-white/[0.2] rounded-full w-11 h-11" href={item.href} target="_blank" rel="noopener noreferrer">
              <img class="relative m-auto w-5 h-5 scale-100 group-hover:scale-90 transition-transform duration-500" src={item.icon} alt={item.label} />
            </a>
          </li>
        ))}
      </ul>
    </div>
		<div class="flex flex-wrap justify-center md:justify-between gap-x-8 gap-y-4 mt-8 py-10 border-white/[0.3] border-t text-sm">
			<p class="text-white/[0.5]">
				&copy; { today.getFullYear() + ' ' + SITE_TITLE }. All rights reserved
			</p>
			<p class="text-white/[0.5]">
				Designed by { AUTHOR }
			</p>
		</div>
	</div>
</footer>
