---
import { getPrevNext } from '@utils/getPrevNext';

import { TRANSLATIONS } from 'src/constants';

const { content, lang, sidebar } = Astro.props;
const path = new URL(Astro.url.pathname, Astro.site).pathname;
const { prev, next } = getPrevNext(sidebar, path);
---

<article id="article" class="content">
  <p class="mb-0 text-slate-400">{ TRANSLATIONS[lang].updated }: { new Date(content.publishedAt).toLocaleDateString(lang) }</p>
	<section class="main-section">
		<nav class="sm:hidden block">
		</nav>
		<slot />
	</section>
  <nav class="flex justify-between gap-4 mt-8 pt-6 border-t">
    {prev && <a class="prev" href={prev.link} rel="prev">← {prev.text}</a>}
    <span class="spacer" />
    {next && <a class="next" href={next.link} rel="next">{next.text} →</a>}
  </nav>
</article>

