---
import '@splidejs/splide/css';

interface Props {
  class?: string;
  options?: string;
  overflow?: boolean;
}

const { class: className, options, overflow, ...props } = Astro.props;
---

<div class:list={ ["splide", className] } data-splide={ options ?? '{}' } {...props}>
  <div class:list={["splide__track", overflow ? '' : '!overflow-visible']}>
		<ul class="splide__list">
      <slot />
		</ul>
  </div>
</div>

<style lang="scss" is:global>
  .splide__arrow {
     @media screen and (min-width: theme("screens.xl")) { 
      &--prev {
        left: -3rem;
      }
      &--next {
        right: -3rem;
      }
    }
  }
</style>