---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class:list={["socials flex flex-col", className]} {...props}>
  <ul class="flex gap-x-3">
    <slot />
  </ul>
</div>