---
const { headings } = Astro.props;
---
<ul class="flex flex-col gap-4">
	{ headings.map(({ slug, text }: { slug: string; text: string }) => {
		return (
		<li class="text-slate-400 hover:text-slate-900">
			#<a href={`#${slug}`}>{text}</a>
		</li>
		) 
	}) }
</ul>