---
import Analytics from '@vercel/analytics/astro';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import ToTopButton from '@components/ToTopButton.astro';

import { SITE } from '../constants';

const { title, description, image, lang = SITE.defaultLanguage } = Astro.props;
---

<html class="scroll-smooth" lang={ lang }>
	<head>
		<BaseHead title={ title } description={ description } image={ image } allowRobots={ SITE.robots } />
	</head>

	<body class="flex flex-col min-h-screen has-[.show-menu]:overflow-hidden select-none">
		<Header locale={ lang } />
		<main id="content" aria-label="Content" data-pagefind-ignore="all">
			<slot />
		</main>
		<Footer locale={ lang } />
    <ToTopButton />
    <Analytics/>
	</body>	
	<script>
		import '../scripts/app.ts';
	</script>
</html>
